@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }

  footer {
    font-size: xx-small;

  }

  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 0px ;
  }
}

