<main>

    <div class="card m-1 p-1">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sanduíche</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Combo</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Bebida</button>
                <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled"
                    type="button" role="tab" aria-controls="nav-disabled" aria-selected="false"
                    disabled>Promoção</button>

                <button type="button" routerLink="/admin/cadastrar-produtos" class="btn btn-primary m-1"><i class="fa-solid fa-plus"
                        style="color: #fff700;"></i></button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <!-- Tabela Sanduiche -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <ng-container *ngFor="let produtos of produto | async">
                    <div id="sanduiche" *ngIf="getCategoria(produtos) =='SANDUICHE'" class="card m-1">
                        <div class="card-body col-12">
                            <div class="row col-12">
                                <div class="col-8 p-1">
                                    <h5 class="card-title m-0"><b>{{getNome(produtos)}}</b></h5>
                                </div>
                                <div class="col-4">
                                    <button type="button" (click)="onRemove(produtos)" class="btn btn-default btn-sm"><i
                                            class="fa-solid fa-xmark fa-lg mx-1" style="color: #fa0505;"></i></button>
                                    <button type="button" (click)="onEdit(produtos)" class="btn btn-default btn-sm"><i
                                            class="fa-solid fa-pen-to-square" style="color: #1e69eb;"></i></button>
                                </div>
                            </div>
                            <div class="row col-12">
                                <p class="card-text m-0 p-1">{{ getIngredientesList(produtos) }}.</p>
                                <p class="card-text m-0"><b>{{getValor(produtos) | currency: 'BRL' }}</b></p>
                            </div>
                        </div>
                    </div>
                </ng-container>


            </div>

            <!-- Tabela Combo -->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <ng-container *ngFor="let produtos of produto | async">
                    <div id="sanduiche" *ngIf="getCategoria(produtos) =='COMBO'" class="card m-1">
                        <div class="card-body col-12">
                            <div class="row col-12">
                                <div class="col-8 p-1">
                                    <h5 class="card-title m-0"><b>{{getNome(produtos)}}</b></h5>
                                </div>
                                <div class="col-4">
                                    <button type="button" (click)="onRemove(produtos)" class="btn btn-default btn-sm"><i
                                            class="fa-solid fa-xmark fa-lg mx-1" style="color: #fa0505;"></i></button>
                                    <button type="button" (click)="onEdit(produtos)" class="btn btn-default btn-sm"><i
                                            class="fa-solid fa-pen-to-square" style="color: #1e69eb;"></i></button>
                                </div>
                            </div>
                            <div class="row col-12">
                                <p class="card-text m-0 p-1">{{ getDescricao(produtos) }}.</p>
                                <p class="card-text m-0"><b>{{getValor(produtos) | currency: 'BRL' }}</b></p>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
            <!-- Tabela Bebida -->
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <ng-container *ngFor="let produtos of produto | async">
                    <div id="sanduiche" *ngIf="getCategoria(produtos) =='BEBIDA'" class="card m-1">
                        <div class="card-body col-12">
                            <div class="row col-12">
                                <div class="col-8 p-1">
                                    <h5 class="card-title m-0"><b>{{getNome(produtos)}}</b></h5>
                                </div>
                                <div class="col-4">
                                    <button type="button" (click)="onRemove(produtos)" class="btn btn-default btn-sm"><i
                                            class="fa-solid fa-xmark fa-lg mx-1" style="color: #fa0505;"></i></button>
                                    <button type="button" (click)="onEdit(produtos)" class="btn btn-default btn-sm"><i
                                            class="fa-solid fa-pen-to-square" style="color: #1e69eb;"></i></button>
                                </div>
                            </div>
                            <div class="row col-12">
                                <p class="card-text m-0 p-1">{{ getDescricao(produtos) }}.</p>
                                <p class="card-text m-0"><b>{{getValor(produtos) | currency: 'BRL' }}</b></p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab"
                tabindex="0">...</div>
        </div>
    </div>




</main>