<form [formGroup]="registroForm" (ngSubmit)="onAdd()" class="card m-1 p-1">
    <div class="container">
        <div class="card-title">Produto</div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Digite o Nome do Produto">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea formControlName="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Digite a Descrição do produto"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Valor</label>
            <input formControlName="valor" type="" name="" id="" class="form-control" id="exampleFormControlTextarea1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Categoria</label>

            <div>
                <select formControlName="categoria" class="form-select" aria-label="Default select example">
                    <option value="SANDUICHE">Sanduiche</option>
                    <option value="BEBIDA">Bebida</option>
                    <option value="SOBREMESA">Sobremesa</option>
                    <option value="ACOMPANHAMENTO">Acompanhamento</option>
                    <option value="PROMOCAO">Promoção</option>
                    <option value="COMBO">Combo</option>

                </select>

            </div>

        </div>
       <div class="mb-3" *ngIf="registroForm.get('categoria')?.value == 'SANDUICHE'">
            <select formControlName="ingredientes" class="form-select" multiple aria-label="multiple select example">
               <option *ngFor="let ingrediente of listarIngredientes | async" [value]="ingrediente">{{ingrediente.nomeIngrediente}}</option>
                
            </select>
        </div>


        <button type="button" (click)="onAdd()" class="btn btn-primary">Salvar</button>
    </div>

</form>