<!-- Criar uma tabela para sanduiche informando os campos de cada com ngIf para sanduiche -->
<div id="cards" class="d-flex justify-content-center flex-wrap">
    <div id="sanduiche" *ngFor="let sanduiches of sanduiche | async" class="card m-1" >
        <div class="card-body">
            <h5 class="card-title m-0"><b>{{sanduiches.nomeSanduiche}}</b></h5>
            <p class="card-text m-0">{{ getIngredientesList(sanduiche | async) }}.</p>
            <p class="card-text m-0">{{sanduiches.valorSanduiche.toString() | currency: 'BRL' }}</p>
            <a href="#" class="btn btn-primary">Comprar</a>

        </div>

    </div>

</div>
