
<div id="cadastro" class="container mt-3">
    <form class="container col-10">
        <div id="inputCadastro">
            <div id="inputName">
                <input type="text" class="form-control" alt="Preencha com o seu nome" name="name" id="name" placeholder="Nome">
            </div>
    
            <div id="inputCpf">
                <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF">
            </div>
            
            <div id="inputPhone">
                <input type="tel" name="phone" id="phone" class="form-control" placeholder="Telefone">
            </div>
    
            <div id="inputPassword">
                <input type="password" name="password" id="password" class="form-control" placeholder="Senha">
            </div>
            
            <div id="inputConfirmPassword">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirme a Senha">
            </div>
    
            <div class="container text-center g-2">
                <button id="buttonCadastro" class="btn" type="submit col-10">
                    <img id="imgSanduiche" src="assets\img\hamburguer.png" alt="Icone de um Sanduíche">
                    Cadastrar
                    <img id="imgBatata" src="assets\img\batatas-fritas.png" alt="Icone de uma Batatas Frita">
                
                </button>
            </div>
            
        </div>
    </form>
</div>



<p id="mensagemJaPossui">Já possui cadastro?<span id="linkEntrar" routerLink="/login"> Entrar</span></p>