

/*  */

.btn-primary {
    --primary: #d80000 !important;
    background: red !important;
    border-color: red !important;
    color: yellow !important;


}


body {
    background: rgba(216, 0, 0, 0.911) !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
