main {
    background-image: linear-gradient(to bottom, rgba(250, 0, 0, 0), rgba(255, 0, 0, 0.438));
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

#combo {
    position: absolute;
    width: 316px;
    height: 316px;
   
   
}

#chamada {

position: absolute;

font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 41px;
text-align: center;
letter-spacing: -0.3px;
    
}