
#carouselExampleIndicators{
   
    
    justify-content: space-around !important;
 
}



#cards .card p{
    font-size: 10px !important;
    padding: 0px !important;
    margin: 0px !important;
}
#cards .card h5{
    font-size: 13px !important;
    padding: 0px !important;
    margin: 0px !important;
}

/* Diminuir a fonte do id id="buttoncard" se a tela for de smartphone */
@media screen and (max-width: 600px) {
    #buttoncard {
        font-size: 10px;
    }
}



